<h1>Edit Tweet </h1>

<p> <%= @tweet.content %> </p>

 
<form method="post" action='/tweets/<%= @tweet.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Content: <input type="text" name="content"></p>
  <input type="submit" value="Edit Tweet" id="submit">
</form>
